/* Main */
body {
	font-family: 'Work Sans', sans-serif;
	margin: 0;
	color: rgb(239, 239, 239);
	background-color: rgb(0, 9, 33);
	font-size: 14px;
}

#main {
	max-width: 860px;
	margin: auto;
	padding: 12px;
}

img {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'VT323', monospace;
	color: #ffffce;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 400;
}

p, li {
	line-height: 1.3rem;
}

/* Background */
#background-container {
	position: fixed;
	overflow: hidden;
	z-index: -1000;
}

#background {
	background: url("../assets/stars.gif") repeat-x;
	height: 2048px;
	width: 6144px;
	animation: slide 300s linear infinite;
}

@keyframes slide {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(-2048px, 0, 0);
	}
}

/* Style */
h1 {
	margin: 0;
	text-align: right;
	color: #ff0000;
	letter-spacing: 1px;
}

h2 {
	margin-top: 0;
	margin-bottom: 6px;
}

a {
	color: #ffff00;
	transition: all 0.3s ease;
	text-decoration: none;
}

a:hover {
	color: #ffff88;
	text-shadow: 0 0 10px #ffffffa2;
	transition: all 0.3s ease;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

/* Universal */
.hidden {
	display: none !important;
}

.star-row {
	height: 20px;
	margin: 20px 0;
	background: url('/assets/gif/star-row.gif') repeat-x;
}